/* Sitewide */

h3 {
	font-size: 18px;
}

/* Intro */
.intro-text {
	color: white;
	text-align: right;
	display: block;
	position: absolute;
	bottom: 40px;
	right: 40px;
}

.intro-text h1 {
	font-size: 80px;
}
.intro-text p {
	font-size: 20px;
	line-height: 1;
}

/* Search Results */

.search {
	margin: 20px 15px;
}

/* Active RSVP label styles */
.active-rsvps {
	display: block;
	background-color: white;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 4px;
	padding: 10px 0 10px 0;
	word-wrap: break-word;
	margin-bottom: 20px;
}

.active-rsvps span:first-child {
	font-weight: 600;
	font-size: 125%;
	margin-right: 10px;
}

.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: .2em .2em;
  line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
  font-size: 18px;
}
/* End of Active RSVP label styles */

.bar {
	border: 1px solid #ccc;
	padding-top: 20px;
}

.bar-name {
	color: #5bc0de;
	height: 19px;
	overflow: hidden;
}

.image {
	width: auto;
	min-height: 180px;
	display: block;
	position: relative;
	border: 1px solid gray;
	background-color: lightgray;
	margin: 5px 5px 0px 5px;
}

.snippet {
	height: 100px;
	display: block;
	overflow: hidden;
}

.rsvp-section {
	border: 3px solid #5bc0de;
	border-radius: 4px;
	background-color: white;
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top:10px;
	padding-bottom: 5px;
	color: #5bc0de;
}

.going {
	font-size: 125%;
	font-weight: 600;
}

.im-going {
	color: #5cb85c;
	border-color: #5cb85c;
	background-color: #DEF0DE;
}

/* Flexbox styles for search results */     
.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}

/* Login styles */
.login {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
}

.login:hover {
  color: #ccc;
}
.login>i {
  font-size: 12em;
}

/* Profile styles */
.profile-avatar {
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 75px;
}

.profile-name {
	font-size: 24px;
}

.barlist {
	margin-top: 50px;
}

table {
	width: auto;
	margin: 30px auto 20px auto;
}

td {
	padding: 5px 10px 5px 0;
	width: auto;
	text-align: left;
}

.logout {
	position: absolute;
	bottom: 20px;
	display: block;
	right: 20px;
}

/* What is this (contact section) styles */
.yelp>img {
	height: 40px;
	width: auto;
}

.contact-section {
	text-align: left;
	font-size: 16px;
}

.yelp {
	position: absolute;
	bottom: 20px;
	display: block;
	right: 20px;
}
