.intro-text {
	color: white;
	text-align: right;
	display: block;
	position: absolute;
	bottom: 40px;
	right: 40px;
}

.intro-text h1 {
	font-size: 80px;
}
.intro-text p {
	font-size: 20px;
	line-height: 1;
}

.bar {
	border: 1px solid gray;
}

h3 {
	font-size: 18px;
}
.image {
	width: auto;
	min-height: 180px;
	display: block;
	position: relative;
	border: 1px solid gray;
	background-color: lightgray;
	margin: 5px 5px 0px 5px;
}

.search {
	margin: 20px 15px;
}


.yelp>img {
	height: 40px;
	width: auto;
}

.yelp {
	position: absolute;
	bottom: 20px;
	display: block;
	right: 20px;
}

.contact-section {
	text-align: left;
	font-size: 16px;
}

     
.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.login {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.login:hover {
  color: #ccc;
}
.login>i {
  font-size: 12em;
}
